<%= f.simple_fields_for :victima do |victima| %>
  <% if !victima.object.persona.nil?  && 
    victima.object.persona.id == @caso.casosjr.contacto.id 
  %>
    <%= victima.simple_fields_for :victimasjr do |victimasjr| %>
      <%= victima.simple_fields_for :persona do |p| %>
        
        <div class='campos_persona campos-persona-con-victima-id'> 
          <datalist id='fuente-victimas'></datalist>
          <%= render 'victima_camposmezclados',
            :fvictima => victima, 
            :fvictimasjr => victimasjr, 
            :fpersona => p,
            :fcasosjr => s 
          %>
        </div>
      <% end %>
    <% end %> <!-- simple_fields_for :victimasjr -->
  
  <% end %>  <!-- if -->
<% end %> <!-- simple_fields_for :victima -->


