<%= f.simple_fields_for :evento do |e| %>
  <%= render 'evento_campos', :f => e, :fcasosjr => fcasosjr %>
<% end %>
<div class="links">
  <%= link_to_add_association 'Añadir Evento y Seguimiento', f, 
    :evento, {
      class: 'btn btn-sm btn-primary',
      style: 'margin-bottom: 1em',
      "data-ajax" => File.join(
        Rails.configuration.relative_url_root, 
        "eventos/nuevo"
      ), 
      partial: 'evento_campos',
      "data-ajaxdata" => "caso_id" 
    } %>
</div>
