<table border=1 width="100%">
  <thead>
    <tr>
      <th>Grupo Presunto Responsable</th>
      <th>Hechos Victimizante</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="eventopresponsables">
    <%= f.simple_fields_for :eventopresponsable do |ae| %>
      <%= render 'eventopresponsable_campos', :f => ae %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Grupo Presunto Responsable', f, 
    :eventopresponsable,
    :"data-association-insertion-node" => "tbody#eventopresponsables", 
    :"data-association-insertion-method" => "append", 
    partial: 'eventopresponsable_campos',
    :class => 'btn-primary'
  %>
</div>

