<div class="privado alert-info">
  <dt><strong>
    <%= Evento.human_attribute_name(:quereparacion) %>:
  </strong>
  </dt>
  <dd>
  <%= evento.quereparacion if evento.quereparacion %>
  </dd>
</div>
