<div class="privado alert-info">
  <dt><strong>
    <%= Evento.human_attribute_name(:quereparacion) %>:
  </strong>
  </dt>
  <dd>
  <%= evento.quereparacion if evento.quereparacion %>
  </dd>

  <dt><strong>
    <%= Evento.human_attribute_name(:sancionadovictimario) %>:
  </strong></dt>
  <dd><%= ApplicationHelper.etiqueta(
    ApplicationHelper::NOSI, evento.sancionadovictimario, true) if 
    evento.sancionadovictimario%></dd>

</div>
