<div class="privado alert-info">

  <dt><strong>
    <%= Evento.human_attribute_name(:seguimientojudicial) %>:
  </strong></dt>
  <dd><%= evento.seguimientojudicial if evento.seguimientojudicial %></dd>

  <dt><strong>
    <%= Evento.human_attribute_name(:seguimientopsicosocial) %>:
  </strong></dt>
  <dd><%= evento.seguimientopsicosocial if evento.seguimientopsicosocial %></dd>

</div>
